
<nav class="navbar navbar-expand-lg" style="background-color: #32174d;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="assets/logo1.png" height="75" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" >
              <li>
                <a class="nav-link" href="/pic">Pic of the Day <span class="bi bi-camera2"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/solsys">3D Models <span class="bi bi-stars"></span></a>
              </li>
              
              <li>
                <a class="nav-link" href="/mars">Mars <i class="bi bi-rocket-takeoff-fill"></i></a>
              </li>

          
            </ul>
        </div>
    </div>
</nav>