<%- include('partials/head.ejs', {page: "Home"}) %>
<%- include('partials/header.ejs') %>

<div class="container-fluid" id="hero">
    <div class="jumbotron hero-section p-5">
      <h1 class="display-4">Welcome to Spacing Out</h1>
      <p class="lead">Here you will find great pictures and 3D models of the solar system, but first:<br> <strong>Check out NASA's picture of the day down below!</strong> </p>
      <a class="btn btn-primary btn-lg" style="background-color: #6232A6;" href="/pic" role="button">Picture of the Day</a>
    </div>
</div>



<%- include('partials/foot.ejs') %>
